<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title %}{{ page.title | strip_html }} &#8211; {% endif %}{{ site.title | strip_html }}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="description" content="{% if page.meta_description %}{{ page.meta_description | xml_escape }}{% elsif page.summary %}{{ page.summary | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}">

	<!-- Open Graph -->
	<meta property="og:locale" content="{{ site.text.og_locale }}">
	<meta property="og:type" content="article">
	<meta property="og:title" content="{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title | xml_escape }}{% endif %}">
	<meta property="og:description" content="{% if page.description %}{{ page.description | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	<meta property="og:site_name" content="{{ site.title | xml_escape }}">


	<!-- Stylesheet -->
	<link rel="stylesheet" href="/resource/css/style.css">

	<!-- Icons -->
	<link rel="apple-touch-icon" sizes="57x57" href="/resource/images/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/resource/images/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/resource/images/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/resource/images/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/resource/images/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/resource/images/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/resource/images/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/resource/images/favicon/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/resource/images/favicon/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/resource/images/favicon/favicon-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/resource/images/favicon/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="/resource/images/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/resource/images/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/resource/images/favicon/favicon-32x32.png" sizes="32x32">
</head>
