<div class="pagination clearfix mb1 mt4">
  {% if site %}
        {% if site.total_pages <= 5 %}
            {% assign first = 1 %}
            {% assign last = site.total_pages %}
        {% else %}
        {% assign first = site.page | minus: 2 %}
        {% if first < 1 %}
            {% assign first = 1 %}
        {% endif %}
        {% assign last = first | plus: 4 %}
        {% if last > site.total_pages %}
            {% assign last = site.total_pages %}
        {% endif %}
    {% endif %}
  <div class="left">
    {% if site.previous_page %}
      {% if site.page == 2 %}
        <a class="pagination-item" href="{{ site.baseurl }}/">{{ site.text.pagination.newer }}</a>
      {% else %}
        <a class="pagination-item" href="{{ site.previous_page_path }}">{{ site.text.pagination.newer }}</a>
      {% endif %}
    {% else %}
      <span class="pagination-item disabled">{{ site.text.pagination.newer }}</span>
    {% endif %}
  </div>
  <div class="right">
    {% if site.next_page %}
      <a class="pagination-item" href="{{ site.next_page_path }}">{{ site.text.pagination.older }}</a>
    {% else %}
      <span class="pagination-item disabled">{{ site.text.pagination.older }}</span>
    {% endif %}
  </div>
  <div class="pagination-meta">Page {{ site.page }} of {{ site.total_pages }}</div>
  {% endif %}
</div>
