---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "_normalize";
@import "_code";

/* custom font*/
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/* mixin*/
$default_font: 'Noto Sans KR', "Open Sans", Helvetica, Arial, sans-serif;
$logo_font: 'Open Sans', 'Noto Sans KR', Helvetica, Arial, sans-serif;

/* default */
body,html {
	color: #333;
	font-family: $default_font;
}
ul {
	padding-left: 20px;
}

/* layout */
.measure {
	max-width: 1423px;
	margin: 0 auto;
}
.post_content {
	font-size: 1rem;
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}
.post_content > *:first-child {
	margin-top: 0;
}
.layout_header {
	padding: 0;
	text-align: center;
}
.layout_footer {
	padding: 3em 0;
	text-align: center;
	font-size: 1em;
	line-height: 1.5em;
	font-family: $logo_font;
	letter-spacing: -0.05em;
	span {
		display: inline-block;
	}
}
.layout_content {  }

hr {
	border: #ddd solid;
	border-width: 1px;
}

/* logo */
.logo_thecaw {
	display: inline-block;
	padding: 1rem 1rem;
	margin: 1rem 0;
	font-family: $logo_font;
	text-decoration: none;
	color: #333;
	font-weight: 300;
	letter-spacing: -0.05em;
	line-height: 1em;
}

/* global navigation */
.global_nav {
	padding: 0 0 2rem;
	line-height: 0rem;
}
.global_nav__list {
	margin: 0;
	padding: 0;
	line-height: 1em;
}
.global_nav__item {
	display: inline-block;
	margin: 0 0.2em;
	list-style: none;
	font-size: 1.1em;
	a {
		display: inline-block;
		padding: 0.3em;
		color: #444;
		text-decoration: none;
		font-family: $logo_font;
	}

	&.is-active {
		a {
			color: #000;
			text-decoration: overline;
		}
	}
}

/* page */
.page_title {
	/* text-align: center;*/
}

/* post list */
.post_total {
	font-size: 1em;
	color: #ddd;
	margin: 1.2em 0 1.2em;
}
.post_list {
	margin: 0;
	padding: 0;
}
.post_list__item {
	list-style: none;
	padding: 1.8em 0;
	border-bottom: 1px solid #eee;
	
	.meta {
		color: #bbb;
		font-style: italic;
		font-family: $logo_font;
		.modifyed {
			color: #e28793;
		}
	}
	.subject {
		display: block;
		margin: 0;
		color: #333;
	    font-size: 2em;
		text-decoration: none;
		font-weight: 900;
		line-height: 1.2em;
	}
	.summery {
		margin: 0.7em 0 0.1em;
		color: #555;
		line-height: 1.2rem;
		font-weight: 300;
	}
}

/* post */
.page_total {
	font-size: 1em;
}
.post_header {
	padding: 1.8em 0;
	.subject {
		display: block;
		margin: 0;
		color: #333;
	    font-size: 2em;
		text-decoration: none;
		font-weight: 900;
		line-height: 1.2em;
	}
	.meta {
		color: #bbb;
		font-style: italic;
		font-family: $logo_font;
		.modifyed {
			color: #e28793;
		}
	}
}

/* content element style */
blockquote {
	border-left: 5px solid #aaa;
	margin: 15px;
	padding: 0 0 0 10px;
}

/*  table of content */
.wrap_contents_table {
	position: relative;
	padding-bottom: 65px;
}
.wrap_contents_table__title {
	margin: 0;
	padding: 5px;
	border-bottom: 2px solid #e3e3e3;
	font-size: 18px;
	.title { display: none; }
}
.contents_table {
	margin: 0;
	padding: 0;
	display: none;

	li {
		list-style: none;
	}
	ul {
		margin: 0 0 0 20px;
		padding: 0;
	}
	a {
		position: relative;
		display: inline-block;
		padding: 7px 15px;
		text-decoration: none;
		color: #484c4f;
		font-size: 16px;
		line-height: 21px;

		&::before {
			position: absolute;
			left: 5px;
			top: 15px;
			content: "";
			overflow:hidden;
			background: #484c4f;
			border-radius: 50%;
			width: 5px;
			height: 5px;
			box-sizing: border-box;
		}
	}
	& > li {
		border-bottom: 1px solid #e3e3e3;
	}
	& > li > a {
	}
	& > li > ul > li > a {
		&::before {
			background: #fff;
			border: 1px solid #484c4f;
		}
	}
	& > li > ul > li > ul > li > a {
		&::before {
			top: 18px;
			width: 3px;
			height: 3px;
			border-radius: 50%;
		}
	}
	& > li > ul > li > ul > li > ul > li a {
		&::before {
			top: 18px;
			width: 4px;
			height: 1px;
			border-radius: 0;
		}
	}
}
.btn_contents_table {
	position: absolute;
	left: 0;
	bottom: 25px;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: none #fafafa;
	border-bottom: 1px solid #e3e3e3;
	overflow: hidden;
	font-size: 13px;
	color: #666;
	font-weight: normal;

	&:after {
		content: "";
		position: relative;
		top: 2px;
		display: inline-block;
		width: 8px;
		height: 8px;
		margin: 0 0 0 15px;
		border-left: 2px solid #777;
		border-bottom: 2px solid #777;
		transform-origin: 0 0;
		transform: rotate(-45deg) translate(-50%, -50%);
		transition: all 0.7s ease;
	}
	&.is-active:after {
		top: 7px;
		transform: rotate(135deg) translate(-50%, -50%);
		transition: all 0.7s ease;
	}
}

#back-to-top {
    display: none; /* @@iolo: show/hide by js */
    position: fixed;
    width: 29px;
    height: 29px;
    right: 30px;
    bottom: 20px;
    z-index: 999;
    background: url(../images/pc/icon_uarrow.png) no-repeat;
    background-size: 29px 29px;
}


#back-to-top {
	width: 36px;
	height: 36px;
	right: 20px;
	background-image: url(../images/mo/icon_uarrow.png);
	background-size: 36px 36px;
}

#back-to-top {
	background-image: url(../images/mo/icon_uarrow@2x.png);
}

@import "_media_queries";