// Viewport widths
$viewport-small: 700px;
$viewport-medium: 700px;
$viewport-large: 1200px;

@media screen and (max-width: $viewport-medium) {
	
}
.logo_thecaw {
	font-size: 1.5rem;
}
.measure {
	padding: 0 1rem;
}

@media screen and (min-width: $viewport-medium) {
	html, body {
		font-size: 19px;
	}
	.measure {
		padding: 0 3rem;
	}
}

@media screen and (min-width: $viewport-large) {
	html, body {
		font-size: 23px;
	}
	.measure {
		padding: 0 6rem;
	}
	.wrap_contents_table {
		max-width: 250px;
		float: right;
		margin-left: 20px;
		padding-left: 20px;
		padding-bottom: 0;
		border-left: 1px solid #e3e3e3;
	}
	.contents_table {
		display: block;
		margin: 0 0 15px 0;
		& > li {
			padding-right: 20px;
		}
	}
	.btn_contents_table {
		display: none;
	}
	.wrap_contents_table__title {
		.title {
			display: block;
		}
	}
	.post_content {
		font-size: 0.9rem;
	}
}
